body{
    font-family: Arial, sans-serif;
}

 .navbar {
    background-color: rgba(220, 20, 60, 0.6) !important;
}

.navbar-menu ul {
    list-style: none;
    margin: 0;
}

.navbar-menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-menu ul li:last-child {
    margin-right: 0;
}

.navbar-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.main-content {
    padding: 20px;
}

/* Tabla de inventario */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

/* Modal */
.modal-header {
    background-color: #ff6347;
    color: white;
}
